<div>
  <div class="deals">
    <div class="deals-container">
      <h2>LIMITED DEALS</h2>
      <p>Become a member and get 10% off of your first purchase</p>
      <div class="newsletter-signup">
        <form class="email-form">
          <input type="email" placeholder="Enter your email here">
          <button type="submit" aria-label="Submit email">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
              <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
          </button>
        </form>
      </div>
    </div>

  </div>
</div>