<nav class="navbar">
  <div class="navbar-left">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <span class="site-name">Dekoor</span>
  </div>

  <div class="navbar-menu">
    <ul class="navbar-center">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Furniture</a></li>
      <li><a href="#">Partnerships</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <div class="navbar-right">
      <button class="signup-btn">Signup</button>
      <div class="cart-btn">
        <img src="assets/shopping_bag.png" class="shopping-bag" alt="">
      </div>
    </div>
  </div>

  <div class="mobile-toggle"><img src="assets/hamburger_menu.png" class="hamburger-menu" alt=""></div>
</nav>