<section class="jumbotron">
  <div class="jumbotron-left">
    <div class="jumbotron-left-content">
      <h1>The kind of <span class="span-furniture">furniture</span> you have been looking for</h1>
      <div class="button-content">
        <div class="cta-buttons">
          <button class="cta-button">
            <img src="assets/search.png" alt="Search" class="button-icon" />
            SEARCH CATALOG
          </button>
          <button class="cta-button-light">
            <img src="assets/play_button.png" alt="Play" class="button-icon" />
            WATCH VIDEOS
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron-right">
    <img src="assets/sofa.png" alt="Furniture Product">
    <div class="jumbotron-overlay">
      <div class="price-tag">
        $329
      </div>
      <h2 class="product-name">Pösht Sofa</h2>
      <button class="buy-now-btn">VIEW DETAILS <span class="arrow">&gt;</span></button>
    </div>
  </div>
</section>