 <div class="card-container">


   <div class="image-gallery">
     <div class="image-container image-container-staggered">
       <img src="assets/room2.jpg" alt="Cozy living room with a grey sofa">
     </div>
     <div class="image-container image-container-staggered">
       <img src="assets/room1.jpg" alt="Modern living room with leather couch and decorative rug">
     </div>
     <div class="image-container">
       <img src="assets/room3.jpg" alt="Room with a TV stand, lamp, and a guitar">
     </div>
   </div>


   <div class="recommendations-section">
     <div class="main-title-container">
       <p class="categories-subtitle">Categories</p>
       <h1 class="main-title">Furniture Sets</h1>
       <h2 class="main-title">Recommendations</h2>
     </div>

     <div id="category-list">
       <div class="category-item">
         <h3>Bedroom</h3>
       </div>
       <div class="category-item active-custom">
         <h3>Living Room</h3>
         <p>Enjoy a great living room aesthetics with your family. Designs created for increased comfortability.</p>
       </div>
       <div class="category-item">
         <h3>Home Office</h3>
       </div>
       <div class="category-item">
         <h3>Gaming Room</h3>
       </div>
     </div>
   </div>

 </div>