<footer class="footer">
  <div class="footer-left">
    <div class="footer-logo">
      <img src="assets/logo.png" alt="logo">
      <p>Dekoor</p>
    </div>

    <div class="footer-description">
      <p>Dekoor is a furniture company created to fulfill the needs of family with aesthetic feeling in their furniture. Always pay attention to details and give clear communication for the customers. Priority of our design is comfortability.</p>
    </div>

    <!-- <div class="footer-copyright">
      <p>©Copyright 2022 Dekoor</p>
    </div> -->
  </div>

  <div class="footer-right">
    <div class="footer-section">
      <p class="title-section">Support</p>
      <ul class="section-list">
        <li> <a href="">FAQ</a></li>
        <li> <a href="">Shipping & Return</a></li>
        <li> <a href="">Care Guide</a></li>
        <li> <a href="">Redeem Warranty</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <p class="title-section">Social Media</p>
      <ul class="section-list">
        <li> <a href="">Instagram</a></li>
        <li> <a href="">Facebook</a></li>
        <li> <a href="">Twitter</a></li>
        <li> <a href="">TikTok</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <p class="title-section">About Us</p>
      <ul class="section-list">
        <li> <a href="">Our Guide</a></li>
        <li> <a href="">Designer</a></li>
        <li> <a href="">Craftmanship</a></li>
        <li> <a href="">Sustainability</a></li>
      </ul>
    </div>
  </div>

</footer>